[submodule "lib/cub"]
	path = lib/cub
	url = https://github.com/NVlabs/cub.git
[submodule "example/configuration/halloc/halloc"]
	path = example/configuration/halloc/halloc
	url = https://github.com/canonizer/halloc.git
[submodule "example/configuration/mallocmc/mallocMC"]
	path = example/configuration/mallocmc/mallocMC
	url = https://github.com/ComputationalRadiationPhysics/mallocMC.git
